.carousel-item {
    position: relative;
    width: 100%;
    max-height: 60vh;
    /* object-fit: contain; */
}

.info__peli {
    position: absolute;
    margin-left: 10px;
    top: 10px;
    font-size: 16px;
    color: white;
    height: 80%;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}

.info__titulo,
.info__titulo,
.info__descripcion,
.info__actores,
.info__genero {
    margin: 10px;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.79);
    font-weight: 100;
}

.info__titulo {
    font-size: 4em;
}

.info__descripcion {
    font-size: 2em;
}

.info__actores {
    font-size: 1.8em;
}

.info__genero {
    font-size: 1.8em;
}

.info__btn--ver {
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px 15px;
    background-color: rgb(241, 13, 13);
}

.info__btn--ver:hover {
    background-color: rgb(245, 44, 44);
    transform: scale(1.05);
    transition: all .4s ease;
}

.prueba {
    display: none;
}

.info__peli>p>span {
    font-weight: bold;
    color: white;
}

.carousel-item>img {
    filter: brightness(80%);
}

@media (min-width: 350px) {
    body {
        background-color: blue;
    }
    .carousel-item {}
    .info__peli {
        font-size: 8px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}