.carousel-item {
    position: relative;
    width: 100%;
    max-height: 60vh;
    /* object-fit: contain; */
}

.info__peli {
    position: absolute;
    margin-left: 10px;
    top: 10px;
    color: white;
    font-size: 16px;
    height: 80%;
}

.carousel-control-prev,
.carousel-control-next {
    /* display: none; */
}

.info__titulo,
.info__titulo,
.info__descripcion,
.info__actores,
.info__genero {
    margin: 3px;
    /* text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.79); */
}

.info__titulo {
    font-size: 2rem;
}

.info__descripcion {
    font-size: 1.2rem;
}

.info__actores {
    font-size: 1rem;
}

.info__genero {
    font-size: 1rem;
}

.info__btn--ver {
    position: absolute;
    bottom: 0px;
    /* padding: 2px 10px; */
    border-radius: 0%;
    background-color: rgb(241, 13, 13);
}

.prueba {
    display: none;
}